@charset "UTF-8";

body {
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h1{
    color: purple;
}
h2{
    color: palevioletred;
}
p{
    text-align: justify;
}

